{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Contact</h4>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>ADRESSE:</span>
                                <p>Commune de Zriba بلدية الزريبة</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Phone:</span>
                                <p>54 710 230 </p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p>A9dhili@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">

                        <div class="leave-comment">
                            <h4>Veuillez remplir le formulaire</h4>
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <div class="comment-form">
                                {{ form_start(form) }}

                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form_row(form.name) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(form.email) }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form_row(form.message) }}
                                        <button type="submit" class="site-btn">Envoyer</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        A9dhili Express Tous droits réservés
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->


{% endblock %}
